# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ezitech/server.talentforhr.com/backend"
PassengerBaseURI "/"
PassengerNodejs "/home/ezitech/nodevenv/server.talentforhr.com/backend/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST sg1-tr103.supercp.com
SetEnv DB_NAME ezitech_talent_for_hr
SetEnv DB_USER ezitech_tfh_user123
SetEnv PORT 9909
SetEnv RESEND_API_KEY 123
SetEnv DB_PASSWORD Rtio%FjpvgolMsa&
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END